@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .section-subtitle {
        color: #EF7A0E !important;
        font-weight: 400;
        margin-left: 40px;
        position: relative;
    }

    .section-subtitle::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -40px;
        width: 30px;
        height: 2px;
        background: #EF7A0E;
        color: #EF7A0E;
      }

      #main-hero:hover .cursor {
        transform: scale(5)
      }

      .cursor {
        width: 20px;
        height: 20px;
        background-color: #fff;
        position: fixed;
        border-radius: 50%;
        pointer-events: none;
        mix-blend-mode: difference;
      }
}
